# Ignore artifacts:
build
coverage

# npm install --save-dev prettier

# .prettierrc
# {
#   "semi": false,
#   "singleQuote": true,
#   "tabWidth": 2,
#   "useTabs": false,
#   "trailingComma": "all",
#   "printWidth": 100
# }

# packge.json
# "scripts": {
#   "format": "prettier --write \"src/**/*\""
# }

# npm run format
